body{
    margin: 0px;
    font-family: 'Gugi', cursive;
    color: #eeeeee;
    background-color: #E6D5B8;
}

ul{
    margin: 0px;
    padding-left: 0px;
}

li{
    list-style: none;
}

/*side-bar 부분*/
aside{
    width: 220px;
    height: 1100px;
    overflow-y: scroll;
}

.main{
    padding-left: 10px;
    display: flex;
    justify-content: flex-start;
    color: #000;
}

/*nav 부분*/

nav{
    background-color: #F0A500;
    color: #1B1A17;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
}

nav li{
    padding: 8px 12px;
    
}

nav i{
    padding: 8px 12px;
}

.nav_home ul, .nav_list ul, .nav_help ul{
    display: flex;
    justify-content: flex-start;

}

.nav_help{
    margin-left: auto;
}

.nav_list{
    word-break: break-word;
    overflow: hidden;
}

/*header 부분*/

header{
    background-color: #37474f;
    display: flex;
    justify-content: space-between;
}

.header_btn{
    margin-left: auto;
}

.header_list li:hover{
    background-color: #c56000;
}

.header_btn li:hover{
    border-radius: 10px;
    background-color: #c56000;
}

.header_icon{
    display: flex;
    font-size: 24px;
    align-items: center;
    padding: 18px 12px;
}

.header_icon i{
    color:#ff6f00;
    padding-right: 5px;
}

.header_list ul, .header_btn ul{
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
}

.header_btn li{
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.header_list li, .header_btn li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
}

.new{
    border: solid black 2px;
    border-radius: 15px;
    background-color: antiquewhite;
    color: black;
    font-size: 10px;
    padding: 3px 6px;
    margin-left: 5px;
}

.web_btn{
    background-color: #c94f7c;
    border-radius: 10px;
}

.login_btn{
    background-color: #ff6f00;
    border-radius: 10px;
    margin-right: 12px;
}
